* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #6a7cff, #8a5cff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
   align-items: center;
}

.card {
  width: 320px;
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
  text-align: center;
}

.card h2 {
  margin-bottom: 15px;
}

.card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.card button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  background: #6a7cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background: #5a6cff;
}

.result {
  margin-top: 15px;
  padding: 10px;
  border-radius: 6px;
  background: #eafff5;
  color: #0a7a4a;
  font-size: 14px;
  text-align: left;
}

.hidden {
  display: none;
}
